In [ ]:
# HYPOTHESIS TESTING

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [6]:
import math
from scipy.stats import norm

1. State the Hypotheses:

Null Hypothesis (H₀)
 The weekly operating cost model is accurate, i.e., the actual mean weekly cost is equal to the theoretical mean weekly cost.

𝐻
0
:
𝜇
=
1000
+
5
𝑋
=
1000
+
5
(
600
)
=
4000
H
0
​
 :μ=1000+5X=1000+5(600)=4000

Alternative Hypothesis (H₁): The actual mean weekly cost is higher than the theoretical mean weekly cost.

𝐻
1
:
𝜇
>
4000
H
1
​
 :μ>4000

In [ ]:
# Given info

In [7]:
sample_mean = 3050  # Rs.
theoretical_mean = 1000 + 5 * 600  # Rs.
sigma = 5 * 25  # Rs.
n = 25

2. Calculate the Test Statistic:
The test statistic
𝑡
t is calculated using the formula:

𝑡
=
𝑥
ˉ
−
𝜇
𝜎
𝑛
t=
n
​

σ
​

x
ˉ
 −μ
​

Where:

𝑥
ˉ
x
ˉ
  = sample mean weekly cost = 3050 Rs.
𝜇
μ = theoretical mean weekly cost = 4000 Rs.
𝜎
=
5
×
25
=
125
σ=5×25=125 Rs. (since
𝜎
σ = 5 * standard deviation of units)
𝑛
n = sample size = 25
Substitute the values into the formula:

𝑡
=
3050
−
4000
125
25
=
−
950
125
5
=
−
950
25
=
−
38
t=
25
​

125
​

3050−4000
​
 =
5
125
​

−950
​
 =
25
−950
​
 =−38

In [ ]:
#Calculate the test statistic

In [8]:
test_statistic = (sample_mean - theoretical_mean) / (sigma / math.sqrt(n))

3. Determine the Critical Value:

Using a significance level

𝛼
=
0.05
α=0.05 for a one-tailed test, it determine the critical value from the standard normal distribution table.

For
𝛼
=
0.05
α=0.05, the critical value
𝑧
𝛼
z
α
​
  is approximately 1.645.

In [ ]:
# Critical value for one-tailed test at alpha = 0.05

In [9]:
alpha = 0.05
critical_value = norm.ppf(1 - alpha)

4. Make a Decision:

If the test statistic
𝑡
t is less than the negative of the critical value
𝑧
𝛼
z
α
​
 , then reject the null hypothesis.
Given the test statistic
𝑡
=
−
38
t=−38 and the critical value
𝑧
𝛼
=
1.645
z
α
​
 =1.645:

𝑡
=
−
38
t=−38 is far less than
−
1.645
−1.645, so you reject the null hypothesis.

In [ ]:
# Decision

In [10]:
if test_statistic < -critical_value:
    decision = "Reject the null hypothesis"
else:
    decision = "Fail to reject the null hypothesis"

In [ ]:
# Output results

In [11]:
print(f"Test Statistic: {test_statistic}")
print(f"Critical Value: {-critical_value}")
print(f"Decision: {decision}")

Test Statistic: -38.0
Critical Value: -1.6448536269514722
Decision: Reject the null hypothesis

 **Conclusion**

 Conclusion:
Since the test statistic is significantly less than the critical value, there is strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests.

The test statistic calculation shows strong evidence against the null hypothesis.
The critical value confirms this rejection at the 5% significance level.
The final conclusion supports the restaurant owners' claim that the weekly operating costs have increased compared to the model's predictions.